.p {
	padding: 0.4rem 0;
	font-size: 1.4rem;
	font-family: inherit;
	font-weight: 600;
	color: var(--text);
}

.p > span {
	font-weight: 300;
}
@media (min-width: 992px) {
	.p {
		font-size: 1.6rem;
	}
}
